{% extends "base.html" %}

{% block title %}欢迎 - {{ super() }}{% endblock %}

{% block meta_description %}
<meta name="description" content="欢迎使用优智通科技共修室预约系统。这是一个便捷、高效的在线预约平台，从这里开始您的场地预约。">
{% endblock %}

{% block content %}
<div class="welcome-container">
    <div class="overlap-container">
        <div class="welcome-image">
            <img src="https://oss-bucket-93.oss-cn-hangzhou.aliyuncs.com/DonglinGreatBuddha.png?Expires=1751993559&OSSAccessKeyId=TMP.3KsoPaKq8eF5ak4q3B2Zj8fnNQHNVCo1LSnzuhkwnEJdyiBqpgW1q9Byff2kuj1yvrgysy9dGNqSDoW6TP7Lfor9WnJ594&Signature=B4RioKefQAhXYRo2k76na2R7yfA%3D" alt="欢迎图片">
        </div>
        <div class="icon-large">.</div>
    </div>
    <h1 class="title-break"><span class="part-1">密行组</span><span class="part-2">早课共修</span><span class="part-3">排麦表</span></h1>
    <p class="welcome-text">
        欢迎使用。点击下方开始预约。
    </p>
    <a href="{{ url_for('schedule') }}" class="button-primary" onclick="_hmt.push(['_trackEvent', 'WelcomePage', 'Click', 'EnterCalendar']);">进入预约日历</a>
</div>
{% endblock %}